body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
    background-color: #e6fffa;
}
h1 {
    color: #0f766e;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    background-color: #ccfbf1;
    border-radius: 27.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

h1:hover {
    background-color: #99f6e4;
}
h2 {
    color: #0e7490;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;

    background-color: #ccfbf1;
    border-radius: 27.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

h2:hover {
    background-color: #99f6e4;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid aquamarine;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ccfbf1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

td {
    background-color: #f0fdfa;
    color: #134e4a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

td:hover {
    background-color: #99f6e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.989);
    transition: all 0.3s ease;
}
hr {
    border: 0;
    height: 1px;
    background-color: #7fffd4;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h3 {
    color: #0f766e;
    font-size: 1.2em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -5px;
    background-color: #ccfbf1;
    border-radius: 27.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

h3:hover {
    background-color: #99f6e4;
}
